extends ../main

block content 
    h1.title Editar Club
    if error 
        h2= error
    form.formulario(action=`/clubs/${club.idClub}`, method="post", enctype="multipart/form-data")
        label(for="clubName") Nombre*
        input(type="text", name="clubName", id="clubName" value=club.clubName)
        label(for="address") DIrección*
        input(type="text", name="address", id="address", value=club.address)         
        label(for="comments") Comentarios
        input(type="text", name="comments", id="comments", value=club.comments)
        label(for="photo") Foto:
        input(type="file", name="photo", id="photo", class="input-field")
        if club.photo != null
            img(id="photo", src=club.photo, alt="Foto del club")
        else
            img(id="photo", src="/images/clubs/nophoto.png", alt="Foto del perro")
        input(type="submit", value="Guardar") 
        a.cancelar(href='/clubs') Cancelar


