extends ../main

block content 
    h1.title Editar Ficha Perro
    if error 
        h2= error
    form.formulario(action=`/dogs/${dog.idDog}`, method="post", enctype='application/x-www-form-urlencoded')
        .form-group
            label(for="name") Nombre:
            input(type="text", name="name", id="name" value=dog.name)
        .form-group  
            label(for="color") Color:
            input(type="text", name="color", id="color", value=dog.color)
        .form-group            
            label(for="size") Tamaño:
            input(type="text", name="size", id="size", value=dog.size)
        .form-group
            label(for="fotoSubir") Foto:
            input(type="file", name="fotoSubir", id="fotoSubir", class="input-field")
            if dog.photo != null
                img(id="dogPhoto", src=dog.photo, alt="Foto del perro")
            else
                img(id="dogPhoto", src="/images/dogs/nophoto.png", alt="Foto del perro")
        .form-group
            label(for="behavior") Comportamiento:
            input(type="text", name="behavior", id="behavior", value=dog.behavior)
        .form-group
            label(for="year") Año:
            input(type="number", name="year", id="year", value=dog.yearOfBirth)
        .form-group
            label(for="comments") Comentarios:
            input(type="text", name="comments", id="comments", value=dog.comments)
        .form-group
            label(for="breed") Raza:
            select(name="breed", id="breed")
                each breed in breeds
                    if dog.idBreed === breed.idBreed
                        option(value=breed.idBreed, selected="selected")= breed.name
                    else
                        option(value=breed.idBreed)= breed.name
        .form-group
            input(type="submit", value="Guardar") 
            button
                a(href='/dogs') Cancelar


