extends ../main

block content
  h1.title Clubes
  if error
    p(class="error", style="color:red;")= error
  div(class="head-container")  
    a(href='/clubs/new', class="new-button") + añadir club

  section(class="cards-container")
    if clubs
      each club in clubs
        section(class="club-card")
          section.foto-club-container
            img.foto-club(src=club.photo alt="Foto del club")
            h3.club-name=club.clubName
          section.texto-club-card
            p=club.address 
            p=club.comments
            if session.rol == 0
              a.ver-disponibilidad(href="")="JUGAR"
            if session.rol == 1
              a.editar(href='/clubs/'+club.idClub+'/edit') EDITAR
              a.borrar(href='/clubs/'+club.idClub+'/delete') BORRAR
          

